@model SellBook.Models.Publication.AddPublicationViewModel

<div class="form-group">
    @Html.LabelFor(m => m.Electronic.Price, new { @class = "col-md-2 control-label" })
    <div class="col-md-3">
        @Html.TextBoxFor(m => m.Electronic.Price, new { @class = "form-control" })
    </div>
    <div class="col-md-4">
        @Html.LabelFor(m => m.Electronic.IsContacting, new { @class = "col-md-1 control-label" })
        @Html.CheckBoxFor(m => m.Electronic.IsContacting, new { @Class = "form-control"})
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Electronic.Condition, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.DropDownListFor(m => m.Electronic.Condition, Model.Electronic.ConditionCollection, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Electronic.Delivery, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.DropDownListFor(m => m.Electronic.Delivery, Model.Electronic.DeliveryCollection, new { @class = "form-control" })
    </div>
</div>
