@model ICollection<SellBook.Models.PublicationViewModel>

@{
    var model = Model.ToList();
}

@if (model.Count == 0)
{
    <div class="text-danger">Няма Намерени Резултати</div>
}
else
{
    foreach (var item in model)
    {
        <div class="col-lg-2 border">
            <div class="text-center">
                <img src="@Url.Content(item.Image)" title="@item.FullTitle" width="150" height="150" />
                <br />
                @Html.ActionLink(item.Title, "PublicationDetails", "Publication", new { id = item.Id }, new { data_toggle = "tooltip", data_placement = "left", title = item.FullTitle })
            </div>
            <div class="text-left">
                @if (item.Price == 0)
                {
                    @: оферта
                }
                else
                {
                    @item.Price @:лв
                }
            </div>
            <div class="text-right">
                @if (item.isLiked)
                {
                    <div data-toggle="tooltip" data-placement="left" id="@item.Id" title="Премахни от Любими" class="glyphicon4etoDelete">
                        <span class="glyphicon glyphicon-heart" style="color: red;" aria-hidden="true"></span>
                    </div>
                }
                else
                {
                    <div data-toggle="tooltip" data-placement="left" id="@item.Id" title="Добави в Любими" class="glyphicon4eto">
                        <span class="glyphicon glyphicon-heart-empty" style="color: red;" aria-hidden="true"></span>
                    </div>
                }
            </div>
        </div>
    }
}
